html{
  width: 100%;
}

body{
  width: 100%;
  margin: 0px;
 
}

header{

	width: 100%;
  display: flex;
  justify-content: space-between;
	position: fixed;
  background-color: #393939;
}

#deco{
  align-self: center;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #393939;
  background-color: #DBFFE8;
  border-radius: 15px;
  box-shadow: 1px 5px #999;
  margin: 5ex;
}

#deco:hover {background-color: #3e8e41}

#deco:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#mess{
  
  align-self: center;
}

nav {
	padding: 16px;
  position: fixed;

}

#logo{
	
	height: 5em;
	width: 5em;
	align-self: center;
  padding-left: 5em;
	
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#corpus{
	 
    margin-top: 6em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#messages {
	padding: 16px;
  padding-left: 20em;
	width: 85%;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: flex-start;
}

#recherchemessage{
	padding: 16px;
	padding-top: 5ex;
}

#liste{
	padding: 16px;
	padding-top: 10ex;
}

#amis{
  align-self: center;
}

#searchFriend{
  background-color: white;
  background-image: url("../images/loupe.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;
  border-radius: 15px;
}