<?xml  version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app  PUBLIC
" -//Sun  Microsystems , Inc.//DTD  Web  Application  2.3//EN" 
"http :// java.sun.com/dtd/web -app_2_3.dtd">

<web - app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>CreateUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<servlet-class>LogUser</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddMessage</servlet-name>
		<servlet-class>AddMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemoveMessage</servlet-name>
		<servlet-class>RemoveMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SearchMessage</servlet-name>
		<servlet-class>SearchMessage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddRelation</servlet-name>
		<servlet-class>AddRelation</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>RemoveRelation</servlet-name>
		<servlet-class>RemoveRelation</servlet-class>
	</servlet>


	<!-- Mapping -->
	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/Twister/Acceuil/signin </url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/Twister/Acceuil/login </url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddMessage</servlet-name>
		<url-pattern>/Twister/Profil/Ajoutmessage </url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemoveMessage</servlet-name>
		<url-pattern>/Twister/Profil/Removemessage </url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchMessage</servlet-name>
		<url-pattern>/Twister/Profil/Cherchermessage </url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddRelation</servlet-name>
		<url-pattern>/Twister/Profil/Ajoutrelation </url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RemoveRelation</servlet-name>
		<url-pattern>/Twister/Profil/Removerelation </url-pattern>
	</servlet-mapping>
	
	
</web-app>